<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	<a href="/search_flights">Search Flights</a>
	<br>
	<br>

	<style type="text/css">
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<table>
		<th>Airline Name</th>
		<th>Flight Number</th>
		<th>Arrival/Departure Date</th>

<!--	{% for line in posts %}-->
<!--		<tr>-->
<!--			<td>{{line['ts']}}</td>-->
<!--			<td>{{line['blog_post']}}</td>-->
<!--		</tr>-->
<!--	{% endfor %}-->
	</table>
</body>

</html>
