<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<h1>All Flights and Status</h1>
	<style type="text/css">
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<table>
		<tr>
			{% for header in headings %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
		{% for row in data %}
		<tr>
			{% for key in row.keys() %}
			<td>{{ row[key] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
	<a href="/login">Login</a> &nbsp
	<a href="/register">Register</a> &nbsp
	<a href="/search_flights">Search Flights</a> &nbsp
</body>

</html>
