<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{email}}</h1>

</form>
<a href="/view_my_flights">View My Flights</a>
	<style type="text/css">
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<table>
		<tr>
			{% for header in headings %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
		{% for row in data %}
		<tr>
			{% for key in row.keys() %}
			<td>{{ row[key] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
<a href="/view_my_flights">View My Flights</a>
<a href="/search_flights">Search Flights</a>
<a href="/cancel_trip">Cancel Trip</a>
<a href="/give_ratings_and_comments">Rate and Comment on Previous Flights</a>
<a href="/track_my_spending">Track My Spending</a>
<a href="/customer_logout">Logout</a>

</body>


</html>
