<html>
<head>
</head>
<body>
<form action="/airline_staff_register_auth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="text" name = "first_name" placeholder="first name" required/></br>
	<input type="text" name = "last_name" placeholder="last name" required/></br>
    <label for="date_of_birth">Date of Birth:</label></br>
    <input type="date" id="date_of_birth" name="date_of_birth" required></br>
	<input type="text" name = "phone_number" placeholder="phone number" required/></br>
	<input type="text" name = "email" placeholder="email" required/></br>
	<input type="text" name = "airline_name" placeholder="airline_name" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	{% if context %}
		<p class="context"><strong>Message:</strong> {{context}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
