<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>
	{% if data %}
	<style type="text/css">
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<table>
		<tr>
			{% for header in headings %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
		{% for row in data %}
		<tr>
			{% for key in row.keys() %}
			<td>{{ row[key] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
	{% endif %}
	{% if not data %}
		<p class="error">There are currently no future Flights</p>
	{% endif %}
<style>
.button {
	background-color: rgba(128, 64, 255, 0.6);
	border: 2px solid black;
	color: white;
	padding: 0px 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 5px 5px;
	cursor: pointer;
}
</style>
<button class="button" onclick="window.location.href=`{{ url_for('search_flights_airline_staff') }}`;">Search Flights</button>
<button class="button" onclick="window.location.href=`{{ url_for('insert_new_flight') }}`;">Insert New Flight</button>
<button class="button" onclick="window.location.href=`{{ url_for('insert_new_airplane') }}`;">Insert New Airplane</button>
<button class="button" onclick="window.location.href=`{{ url_for('insert_new_airport') }}`;">Add New Airport</button>
<button class="button" onclick="window.location.href=`{{ url_for('ticket_stats') }}`;">Ticket Revenue</button>
<button class="button" onclick="window.location.href=`{{ url_for('customer_stats') }}`;">Customers</button>
</br>
</br>
<button class="button" onclick="window.location.href=`{{ url_for('airline_staff_logout') }}`;">Logout</button>

</body>


</html>
