<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

	<style type="text/css">
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<table>
		<tr>
			{% for header in headings %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
		{% for row in data %}
		<tr>
			{% for key in row.keys() %}
			<td>{{ row[key] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
<a href="/search_flights_airline_staff">Search Flights</a>
<a href="/insert_new_flight">Insert New Flight</a>
<a href="/change_flight_status">Change Flight Status</a>
<a href="/airline_staff_logout">Logout</a>

</body>


</html>
