<html>
<head>
</head>
<body>
<form action="/search_flights_airline_staff_query" method="POST">
	<input type="text" name = "Source City/Airport Name" placeholder="Source City/Airport Name" style="width:200px"
		   required/>
	</br>
	<input type="text" name = "Destination City/Airport Name" placeholder="Destination City/Airport Name"
		   style="width:200px" required/>
	</br>
	<label for="StartDepartureDateandTime">Start Departure Date and Time:</label>
	</br>
  	<input type="datetime-local" id="StartDepartureDateandTime" name="StartDepartureDateandTime" required>
	</br>
	<label for="EndDepartureDateandTime">End Departure Date and Time:</label>
	</br>
  	<input type="datetime-local" id="EndDepartureDateandTime" name="EndDepartureDateandTime">
	</br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td {
		border: 1px solid black;
	}
</style>
{% if data %}
<table>
	<tr>
		{% for header in headings %}
		<th>{{ header }}</th>
		{% endfor %}
	</tr>
	{% for row in data %}
	<tr>
		{% for key in row.keys() %}
		<td>{{ row[key] }}</td>
		{% endfor %}
		<td onclick="window.location.href=`{{ url_for('view_flight_customers', flightData=row) }}`;">
			<u style="text-decoration-color:blue">Customers</u></td>
		<td onclick="window.location.href=`{{ url_for('change_flight_status', flightData=row) }}`;">
			<u style="text-decoration-color:blue">Change Status</u></td>
        <td onclick="window.location.href=`{{ url_for('view_ratings', flightData=row) }}`;">
            <u style="text-decoration-color:blue">Ratings</u></td>
	</tr>
	{% endfor %}
</table>
<br>
{% endif %}
{% if message %}
	<p class="message"><strong>Message:</strong> {{message}}</p>
{% endif %}
<a href="/airline_staff_home">Go back</a>

</body>


</html>
