<html>
<head>
</head>
<body>
<form action="{{ url_for('exec_ticket_stats', revenueData=(lastMonthRevenue, lastYearRevenue)) }}" method="POST">
	<label for="StartDateandTime">Start Date and Time:</label>
	</br>
  	<input type="datetime-local" id="StartDateandTime" name="StartDateandTime" required>
	</br>
	<label for="EndDateandTime">End Date and Time:</label>
	</br>
  	<input type="datetime-local" id="EndDateandTime" name="EndDateandTime">
	</br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td {
		border: 1px solid black;
	}
</style>
{% if data %}
<table>
	<tr>
		{% for header in headings %}
		<th>{{ header }}</th>
		{% endfor %}
	</tr>
	{% for row in data %}
	<tr>
		{% for key in row.keys() %}
		<td>{{ row[key] }}</td>
		{% endfor %}
		<td onclick="window.location.href=`{{ url_for('view_flight_customers', flightData=row) }}`;">
			<u style="text-decoration-color:blue">Customers</u></td>
		<td onclick="window.location.href=`{{ url_for('change_flight_status', flightData=row) }}`;">
			<u style="text-decoration-color:blue">Change Status</u></td>
	</tr>
	{% endfor %}
</table>
<br>
{% endif %}
{% if message %}
	<p class="message"><strong>Message:</strong> {{message}}</p>
{% endif %}
<p class="monthRevenue"><strong>Last Month Total Revenue:</strong> {{lastMonthRevenue}}</p>
<p class="yearRevenue"><strong>Last Year Total Revenue:</strong> {{lastYearRevenue}}</p>
</br>
<a href="/airline_staff_home">Go back</a>

</body>


</html>
