<html>
<head>
</head>
<body>
<form action="/purchase_ticket" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="text" name = "card_number" placeholder="card_number" required/> </br>
	<select name="Card Type" id="Card Type">
		<option value="Credit">Credit</option>
		<option value="Debit">Debit</option>
	</select>
	<input type="text" name = "name_on_card" placeholder="name_on_card" required/> </br>
	<input type="text" name = "expiration_date" placeholder="expiration_date" required/> </br>
</form>
<a href="/search_one_way_query">Go back</a>
</body>
</html>
